{% if result_list %}
<h2><center>Search Result for : "{{query}}"</center></h2><br>
    <ul style="list-style-type:square">
    {% for result in result_list %}
        <li>
            {{ result.text }} 
            {% if result.polarity > 0.2 %}
                <span style="background:green;">Happy</span>
                {% elif result.polarity > 0 %}
                    <span style="background:yellow;">Neutral</span>
                {% else %}
                    <span style="background:red;">Sad</span>
            {% endif %}
            {% if result.url != "empty" and result.url|length > 10 %}
               <a href="{{ result.url }}"> -> link <- </a>
            {% endif %}
        </li>
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No results are available.</p>
{% endif %}

 <form align="center" action="" name="P" method="post">
 {% csrf_token %}
	{% if page > 1 %}
 	<input type="submit" name = "P" value="<< Previous Page">
	{% endif %}
    {% if result_list|length == 20 %}
	<input type="submit" name = "N" value="Next Page >>">
    {% endif %}
</form>

<form align="center" action="SentimentView/" name="SentimentView" method="post">
{% csrf_token %}
<input type="submit" name = "" value="Sentiment Analysis">
</form>

 <a href="http://harryliangye.pythonanywhere.com">Back to Home Page</a>