{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% load staticfiles %}
<title>Public Opinion Finder</title>
<style type="text/css">.newStyle1{font-family: Cambria,Cochin, Georgia,Times, "Times New Roman", serif;}#Text1 {width: 611px;height: 26px;}
</style><br><br><br>

<body>
	<h1><center>Welcome to Public Opinion Finder V0.7</center></h1>
  <h3><center>Recent Opinion Search Tool</center></h3>
  <br><br>
	<form align="center" action="find/" method="get">
		<input id="key_word" type="text" name="query" maxlength="128" style = "width:512"> 
		<input type="submit" value="Find !">
	</form>
</body>


	<center>
  <div style="display:table">
    <div id="chart_div" style="display:table-cell;horizontal-align:left;" ></div>
    <img src="{% static "Search/images/background2.gif" %}" style="display:table-cell;horizontal-align:right;height: 180px; width: 320px; margin-left: 0px"/>
    <a style="float:right" href = "http://www.uvic.ca" >Powered by Uvic</a>
  </div>
  </center>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Love', 3323],
          ['Like', 1123],
          ['Ok', 1221],
          ['Dislike', 562],
          ['Hate', 20]
        ]);
        // Set chart options
        var options = {'title':'How Does Public Think About Me?',
                       'width':350,
                       'height':200};
   
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    <!--Div that will hold the pie chart-->
    