{% load staticfiles %}
<center>
<img src="{% static 'Home/images/me.gif'%}" style="width:300px;height:300px;"><br>
<strong>Name:(Harry)Ye Liang</strong><br>
<strong>中文名：梁也</strong><br>
<strong>Master of Science in Computer Science</strong><br>
<strong>University of Victoria</strong><br>
<strong>Email Address: <a href="">yel@uvic.ca</a></strong><br>
<strong>Cell Phone: (+01)250-885-5032</strong><br>
<a href="https://github.com/harryliangye" target="_blank">Github</a><br>
<a href="https://www.facebook.com/profile.php?id=100007732786253" target="_blank">Facebook</a><br>
<a href="https://ca.linkedin.com/pub/ye-liang/b0/412/972" target="_blank">LinkIn</a><br>
<a href="http://harryliangye.pythonanywhere.com">Return to Home Page</a><br>

<strong>Research Interest</strong><br>
<p>Computational Finance, Mathematical Modeling, Data Science, Machine Learning, Artificial Intilligence, Optimization.</p>
<strong>Skills</strong><br>
<p>
<li>Programming in Python, C++/C and Java with SQL-Server and Oracle database.</li>
<li>Proficient in mathematical modeling and data analysis using Matlab/Octive, SPSS/SAS and AzureMl.</li>
<li>Solid mathematics and algorithms background, strong team player and project planning.</li>
<li>Fluent English and Mandarin</li>
</p>
<strong>Honors and Rewards</strong><br>
<p>
<li>University of Victoria Graduate Award in 2015.</li>
<li>Silver Prize of Consecutive Innovation in The 13th Session Challenge Cup China National University
Extracurricular Academic Science and Technology Works Competition in 2013.</li>
<li>First Prize in Shaanxi region in 2012 China Undergraduate Mathematical Contest in Modeling.</li>
<li>First Prize in 2nd Session National College of Information Technology Innovation Application Contest.</li>
<li>First Prize in The 8th Session XPUT Mathematical Contest in Modeling.</li>
<li>First Prize in The 7th Session XUPT Mathematical Contest in Modeling.</li>
</p>
<strong>Education</strong><br>
<p>
<li>Candidate for Master of Science in Computer Science in University of Victoria (Current)</li>
<li>Bachelor of Science in Information and Computing Science in Xian University of Posts and Telecommunications</li>
<li>Minor in Economics in Xian University of Posts and Telecommunications</li>
</p>
</center>