{% load staticfiles %}
<img src="{% static 'Home/images/me.jpg'%}" style="width:228px;height:304px;"><br>
<strong>Name:(Harry)Ye Liang</strong><br>
<strong>中文名：梁也</strong><br>
<strong>Master of Science in Computer Science</strong><br>
<strong>University of Victoria</strong><br>
<strong>Email Address: <a href="">yel@uvic.ca</a></strong><br>
<strong>Cell Phone: (+01)250-885-5032</strong><br>
<a href="https://github.com/harryliangye" target="_blank">Github</a><br>
<a href="https://www.facebook.com/profile.php?id=100007732786253" target="_blank">Facebook</a><br>
<a href="https://ca.linkedin.com/pub/ye-liang/b0/412/972" target="_blank">LinkIn</a><br>
<a href="harryliangye.pythonanywhere.com">Return to Homa Page