{% load staticfiles %}
<title>Public Opinion Finder</title>
<style type="text/css">.newStyle1{font-family: Cambria,Cochin, Georgia,Times, "Times New Roman", serif;}#Text1 {width: 611px;height: 26px;}
</style>

<body>
<link rel="stylesheet" type="text/css" href="{% static 'Home/css/home.css'%}">
<center>
	<h1 >Welcome to Public Opinion Finder V0.7</h1>
	<br><br><br><br><br>
			<div class="container" align="center">
					<a href="Sentiment/"><button type="button" class="button" style=" margin-top: 38px; margin-bottom: 5px; height:55px; margin-right: 5px; margin-left: 15px">
					<span class="glyphicon glyphicon-signal"></span> Sentiment Analysis Tool
					</button></a>
					<a href="Search/"><button type="button" class="button" style=" margin-top: 38px; margin-bottom: 5px; height:55px;">
						<span class="glyphicon glyphicon-king"></span> Recent Opinion Analyzer
					</button></a>
					<a href="Finance/"><button type="button" class="button" style=" margin-top: 38px; margin-bottom: 5px; height:55px; margin-left: 5px; margin-right: 5px">
						<span class="glyphicon glyphicon-globe"></span> Finance
					</button></a>

			</div><br><br>
</center>
<br><br><br><br><br>
<center>
<div style = "table">
		<strong>About Me</strong>
		<a href="Author/">(Harry)Ye Liang</a>
		<a href="https://github.com/harryliangye" target="_blank">Github</a>
		<a href="https://www.facebook.com/profile.php?id=100007732786253" target="_blank">Facebook</a>
		<a href="https://ca.linkedin.com/pub/ye-liang/b0/412/972" target="_blank">LinkIn</a>
</div>
</center>
</body>